.garamond {
    font-family: Garamond, 'Times New Roman', Georgia, sans-serif;
}

.trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.courier {
    font-family: Courier, monospace;
}
